<!doctype html>
<html lang="en" ng-app="countersApp">
  <head>
    <meta charset="utf-8">
    <title>Your title</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/countersController.js"></script>
    <script src="js/counterFactory.js"></script>

  </head>
  <body>
    <main>
      <section ng-controller="countersCtrl as controller">
        <button ng-click="controller.addCounter();">Add a Counter</button>
        <div ng-repeat="counter in controller.counters">
          <button ng-click="counter.increment();">+</button>
          {{ counter.count }}
          <button ng-click="counter.decrement();">-</button>
        </div>
      </section>
    </main>
  </body>
</html>
